<aside class="sidebar w-64 h-screen md:shadow-xl transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-yellow-200">
  <div class="sidebar-header flex items-left justify-left px-4 py-2">
    <div class="inline-flex">
      <span class="leading-10 text-black-100 text-2xl ml-1">The Burke Family</span>
    </div>
  </div>
  
  <div class="sidebar-content px-4 py-2">
    <ul class="flex flex-col w-full">
      <%= render(Navigation::SidebarComponent.new(
        path: root_path, 
        svg_path: "M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6",
        label: "Home"
        )) 
      %>
      
      <li class="my-px">
        <span class="flex font-medium text-sm text-black-300 px-4 my-4 uppercase underline">Settings</span>
      </li>
      <%= render(Navigation::SidebarComponent.new(
        path: members_path, 
        svg_path: "M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z",
        label: "Members"
        )) 
      %>

      <%= render(Navigation::SidebarComponent.new(
        path: budget_categories_path, 
        svg_path: "M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z",
        label: "Budget Categories"
        )) 
      %>
    </ul>
  </div>
</aside>
